<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.auto.learning_project.testcase.HomePage_Men_Scenario"/>
      <class name="org.auto.learning_project_datagenerators.TestDataGeneraor"/>
      <class name="org.auto.learning_project.testcase.SignupScenario"/>
      <class name="org.auto.learning_project.testcase.LoginScenario"/>
      <class name="org.auto.learning_project.testcase.HomePage_Women_Scenario"/>
      <class name="org.auto.learning_project.testcase.LoginScenario_DDF"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
